*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
}
  
:root{
  --lettertype-koppen: 'Fira Code', 'Courier New', Courier, monospace;
  --lettertype-paragraaf: 'Roboto', Arial, Helvetica, sans-serif;

  --lettertype-kleur: #ffffff;
  --lettertype-kleur2: #111111;
  --achtergrondkleur1: #1e1e1e;
  --achtergrondkleur2: #252526;
  --grijze-kleur: #676767;

  --gele-kleur: #f2bc1b;
  --groene-kleur: #8ace24;
  --blauwe-kleur: #3d79f2;
  --roze-kleur: #f22e8a;
}





/*******************/
/* ALGEMENE OPMAAK */
/*******************/
header{
  background-color: var(--achtergrondkleur1);
  height: 100vh;
}

main, footer{
  background-color: var(--achtergrondkleur2);
}

h1, h2, h3, p, a, li{
  color: var(--lettertype-kleur);
}


h1, h2, h3, a{
  font-family: var(--lettertype-koppen);
}

p, li{
  font-family: var(--lettertype-paragraaf);
}

ul{
  list-style-type: none;
  padding: 0;
}

a{
  text-decoration: none;
}

main > section{
  margin-bottom: 5rem;
}



/**********/
/* HEADER */
/**********/

/************/
/* Menubalk */
header > nav{
  position: sticky;
  z-index: 2;
  top: 0;
  box-shadow: 0 .06rem .25rem rgb(57 63 72 / 30%);
  background-color: var(--achtergrondkleur1);
}
     
header nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: .3rem 10%;
}

header nav ul li:first-of-type{
  margin-right: auto ;
}

/***************/
/* Introductie */
header > section{
  padding: .3rem 10%;
  display: flex;
  align-items: center;
}

header > section > section{
  /* Verticaal centreren op viewport */
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

header section section h1{
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 3rem;
}

header section section p{
  max-width: 20rem;
}

header section section nav{
  box-shadow: none;
}

header section section nav a:first-of-type{
  display: inline-block;
  padding: 1rem;
  margin: 2rem 0;

  background-color: var(--gele-kleur);
  color: var(--lettertype-kleur2);
  border-radius: 5rem;
}

header > section > section nav a:nth-of-type(2){
  display: inline-block;
  padding: 1rem;
  margin: 2rem 0;
  
  border: .2rem solid var(--gele-kleur);
  border-radius: 5rem;
}

header > section aside img{
  width: 15rem;
  align-self: flex-end;
}




/************/
/* OVER MIJ */
/************/
main > section:first-of-type{
  padding: 10rem 10%;
  display: flex;
}

main > section:first-of-type aside{
  position: relative;
}

main section:first-of-type aside > div{
  background: transparent;
  border: 0.2rem solid var(--groene-kleur);
  width: 15rem;
  height: 22.5rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
}

main section:first-of-type aside > img{
  width: 15rem;
  margin-right: 10rem;
}

main section:first-of-type section ul{
  display: flex;
}

main section:first-of-type section ul li img{
  width: 3rem;
}



/*************/
/* PROJECTEN */
/*************/
main section:nth-of-type(2){
  padding: 0 10%;
}

main section:nth-of-type(2) ul li article img{
  height: 10rem;
}

main section:nth-of-type(2) ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

main section:nth-of-type(2) ul li:first-of-type{
  grid-row: 1/3;
  display: flex;
}

main section:nth-of-type(2) ul li:first-of-type article{
  display: flex;
  align-self: center;
}

main section:nth-of-type(2) ul li:nth-of-type(2){
  display: flex;
  justify-content: center;
}

main section:nth-of-type(2) ul li:nth-of-type(3){
  display: flex;
  justify-content: center;
}

main section:nth-of-type(2) ul li:nth-of-type(4){
  grid-column-start: 2;
}

main section:nth-of-type(2) ul li:last-of-type{
  grid-row: 1/3;
  grid-column-start: 4;
  display: flex;
}

main section:nth-of-type(2) ul li:last-of-type article{
  display: flex;
  align-self: center;
}

/***********/
/* CONTACT */
/***********/
main section:nth-of-type(3){
  padding: 0 10%;
}

main section:nth-of-type(3) ul li img{
  width: 3rem;
}





/**********/
/* FOOTER */
/**********/
footer{
  padding: 0 10%;
}